.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
backend.hcl
environments/*/terraform.tfvars
environments/*/terraform.tfvars.json
environments/*/backend.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
